# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Vector DB (file besar, biasanya hasil generate)
vector_db/*.bin
vector_db/*.index

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store